/* retro_style.css */
body {
    background-color: black;
    color: lime;
    font-family: "Press Start 2P", cursive;
}

h1, h2, h3, h4, h5, h6 {
    color: magenta;
    text-align: center;
}

.gr-button {
    background-color: magenta;
    color: black;
    border: 2px solid lime;
    font-size: 1.5em;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.gr-button:hover {
    background-color: lime;
    color: black;
    border: 2px solid magenta;
}

.gr-textbox, .gr-file {
    background-color: black;
    color: lime;
    border: 2px solid magenta;
    font-family: "Press Start 2P", cursive;
    font-size: 1em;
    padding: 10px;
    margin: 10px;
}

.gr-gallery {
    border: 2px solid magenta;
}

.gr-container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}
